#simvue files
simvue.ini

#Saved Models
MHD/Models/

#Vector Graphics Files
/Vector_Graphics
*.svg
*.pdf

*.pyc

#Saved Plot
Plots/

#Machine Output files
*.file
*.out

#Submission Script 
*.sh

#Data
*.npy
*.npz
*.png
*.icloud
